<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <% `${food.name}` %></h1>


    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT" method="POST">
        <div>
            <label for="food">Food:</label>
            <input type="text" name="food" id="food" value="<%= food.name %>">
        </div>

        <div>
            <label for="amount">Amount:</label>
            <input type="text" name="amount" id="amount" value="<%= food.amount %>">
        </div>

        <div>
            <label for="foodGroup">Food Group:</label>
            <input type="text" name="foodGroup" id="foodGroup" value="<%= food.foodGroup %>">
        </div>

        <div>
            <label for="useByDate">Use By Date:</label>
            <input type="text" name="useByDate" id="useByDate" value="<%= food.useByDate %>">
        </div>

        <div>
            <label for="calories">Calories:</label>
            <input type="text" name="calories" id="calories" value="<%= food.calories %>">
        </div>

        <div>
            <label for="dietaryReqs">Dietary Requirements:</label>
            <select name="dietaryReqs" id="dietaryReqs">
                <option value="none" <%= food.dietaryReqs === "none" ? "selected" : "" %>>None</option>
                <option value="vegetarian" <%= food.dietaryReqs === "vegetarian" ? "selected" : "" %>>Vegetarian</option>
                <option value="vegan" <%= food.dietaryReqs === "vegan" ? "selected" : "" %>>Vegan</option>
                <option value="lactoseFree" <%= food.dietaryReqs === "lactoseFree" ? "selected" : "" %>>Lactose Free</option>
                <option value="containsNuts" <%= food.dietaryReqs === "containsNuts" ? "selected" : "" %>>Contains Nuts</option>
            </select>
        </div>
        <div>
            <button type="submit">Update Food</button>
        </div> 
    </form>
    
</body>
</html>